.loadingConfig {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: rgba(0, 0, 0, 0.2);

  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: not-allowed;
  .text {
    font-weight: 700;
    padding-top: 10px;
    font-size: 18px;
    color: #fff;
  }
}
