:root {
  --font-family: 'Poppins', sans-serif;
  --primary: #d70018;
  --black: #000;
  --white: #fff;
  --text-color: #161823;
  // Default layout
  --default-layout-header-height: 64px;
  --default-layout-width: 1200px;
  --default-layout-horizontal-spacer: 24px;
  --border-input: #dedede;
  --border-boxReview: 1px solid #d1d5db;
}

* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: var(--font-family) !important;
  font-size: 1.6rem;
  line-height: 1.5;
  overflow-y: overlay;
}

button,
input,
textarea {
  border: none;
  outline: none;
}
a[href=""] {
  text-decoration: none;
}
.navbar-burger,
blockquote,
body,
dd,
dl,
dt,
fieldset,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
html,
iframe,
legend,
li,
ol,
p,
pre,
textarea,
ul {
  margin: 0;
  padding: 0;
}
// Customer css Antd
.ant-dropdown {
  min-width: 14.4rem !important;
  border-radius: 1rem;
  z-index: 99 !important;
}
.ant-dropdown-menu {
  border-radius: 1.2rem;
}
.ant-dropdown-menu-item-divider {
}
.ant-dropdown-menu-item {
  padding: 0.8rem 1rem;
}
.ant-dropdown-open .header-overlay-active {
  visibility: visible;
  opacity: 1;
}
.ant-dropdown-menu-item:not(:last-child) {
  border-bottom: 1px solid #dedede;
}
.ant-dropdown-menu {
  padding: 0;
}
.ant-dropdown-menu-item-selected {
  background-color: rgba(215, 0, 24, 0.7);
  color: #fff;
}
.ant-dropdown-menu-item {
  transition: unset;
}
.ant-dropdown-menu-item-active {
  background-color: rgba(215, 0, 24, 0.7);
  color: #fff;
}
.ant-dropdown-menu-item:hover {
  background-color: #d69c00;
  color: #fff;
}
.ant-dropdown-menu-title-content > a {
  transition: unset;
}

.ant-dropdown-menu-item:hover p {
  color: #fff;
}

.ant-dropdown-menu-title-content:hover > a {
  color: #fff;
  transform: unset;
}
