.wrapper {
}

.action {
    display: flex;
    padding-top: 1.6rem;
    padding-left: 1.6rem;
    padding-bottom: 1.6rem;
    font-weight: 500;
    color: #6b6b6b;
    border-bottom: 1px solid var(--border-input);
}
.iconC {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    color: #6b6b6b;
    span {
        font-size: 1.6rem;
    }
    
}
.content {
    width: 100%;
    height: 60rem;
    margin-top: 1.6rem;
    position: relative;
}

.pagination {
    position: absolute;
    bottom: 0rem;
    left: 50%;
}